* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: radial-gradient(
    circle at 79.83% 44.74%,
    #5f491a 0,
    #5b4019 10%,
    #533617 20%,
    #472a14 30%,
    #381e0f 40%,
    #271103 50%,
    #180000 60%,
    #000000 70%,
    #000000 80%,
    #000000 90%,
    #000000 100%
  );
}
.body-home {
  overflow: hidden;
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(3, auto);
  color: #fff;
  margin: 0 auto;
  width: 95%;
  height: 98%;
  font-family: "Montserrat", sans-serif;
  grid-gap: 20px;
}
/*------------------------STYLE OF HOME PAGE -------------------------- */

/*------- STYLE OF THE HEADER------ */
.header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  z-index: 200;
  height: 100px;
}
/* --------------------------------- */

/*----------- LOGO STYLES -----------*/
.home-logo {
  width: 6%;
  height: 70px;
  text-align: center;
}
.img-logo {
  width: 100%;
}
/* ---------------------------------- */

/* ------------- NAV STYLES --------- */
.menu-nav {
  display: flex;
  width: 78%;
  align-items: center;
  justify-content: center;
}

.menu-nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 6em;
}

.menu-nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: 1.2em;
  font-weight: 500;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.menu-nav a::after {
  content: "";
  background: #fece2f;
  display: block;
  width: 95%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.7s;
}

.shop-register {
  width: 16%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.shop-register i {
  color: #fff;
  font-size: 1.2rem;
}
.fa-user {
  padding-left: 0.7rem;
}

.shop-register .fas:hover {
  color: #caa732;
  transition: color 0.4s ease-out;
}

/* ----------------------------------------- */

/* ---- NAV RESPONSIVE (BAR ICON) STYLES --- */
.nav-input:checked + ul {
  background: #000;
}
.nav-label,
.nav-input {
  display: none;
}

.menu-nav a:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* ----------------------------------------- */

/* -------  STYLE OF MAIN ---------- */
.main-home {
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  z-index: 20;
}
.title-description-home {
  flex-basis: 1070px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px 150px 50px 50px;
}
.name-coffeshop {
  font-size: 10rem;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 0.11em;
  color: #f7f2f2;
  text-shadow: 2px 2px 2px #fff;
}
.description-home {
  font-weight: 100;
  line-height: 1.8;
  padding: 0 10rem 0 0.6rem;
}
.order {
  /* height: 20%; */
  padding: 1rem 0 0 0.6rem;
}

.order-button {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background: none;
  background-color: rgb(212, 156, 34);
  text-transform: uppercase;
  padding: 0.4em;
  letter-spacing: 0.05rem;
  font-weight: 700;
}
.order-button:hover {
  background-color: #fece2f;
  transition: background-color 0.5s;
}
.img-home {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  transform: rotate(-65deg);
  width: 820px;
  height: 820px;
  z-index: 10;
}

.img-home-2 {
  display: none;
  width: 200px;
  height: 200px;
}

/* ---------- STYLE OF FOOTER -------- */
.footer {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer-copyr {
  text-align: center;
  /* height: 20px; */
  letter-spacing: 0.1rem;
  align-self: flex-end;
}
.icons-rsocials {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
  justify-content: flex-end;
}

.f-icon,
.ig-icon,
.tw-icon {
  font-size: 1.5rem;
  color: #fff;
}

.icons-rsocials i:hover {
  transform: scale(1.5);
  transition: transform 0.8s;
}

/* @media (hover: hover) {
  .icons-rsocials i:hover {
    transform: scale(1.5);
    transition: all 0.5s;
  }
} */

/* ----------------- STYLE OF THE PRODUCTS PAGE ------------------------ */
.body-2 {
  /* background: rgba(31, 30, 30, 1); */
  background: #000;
}
.container-layaout-2 {
  grid-template-areas:
    "header       header        header"
    "main         main          main"
    "footer-1     footer-1      footer-1";
}

.menu-nav2 > ul {
  /* justify-content: flex-end; */
  padding-left: 170px;
}

.main-productos {
  grid-area: main;
  gap: 2rem;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 300px));
  grid-gap: 2rem;
  justify-content: center;
}
.nuestro-menu {
  text-transform: uppercase;
}
.nuestro-menu > span {
  color: #d3ad7f;
}
.products-items {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #413f3f;
}

.products-items h4 {
  margin: 0;
  margin-bottom: 10px;
}

.products-items:hover {
  background-color: #fff;
  color: #000;
  transition: all 0.8s;
}
.products img {
  width: 100px;
  height: 100px;
}
.products p {
  font-size: 14px;
  font-weight: 700;
}

.products button {
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  width: 90px;
  height: 32px;
  background-color: #caa732;
}
.products button:hover {
  width: 110px;
  letter-spacing: 0.03rem;
  font-weight: 700;
  color: #000;
  transition: all 0.4s;
}

/* ---------------------- STYLE OF THE ABOUT US PAGE --------------------*/
.main-second {
  display: flex;
  flex-direction: column;
  grid-area: main;
}
.main-aboutUs {
  padding: 0 8rem;
  gap: 5rem;
}

.main-aboutUs img {
  width: 450px;
  height: 255px;
  /* box-shadow: 0px 0px 10px rgb(44, 43, 43); */
}
.main-aboutUs p {
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 0.8rem;
}
.quienes-somos,
.nuestra-mision {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.about-description {
  align-items: center;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: #fece2f;
}

.about-description h2 {
  letter-spacing: 0.07rem;
}

.img-phrase {
  text-align: center;
  margin-top: 4rem;
}
.img-phrase > p {
  margin-top: 0;
  padding: 0;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
.img-phrase span {
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
.img-phrase > img {
  width: 400px;
  height: 300px;
}
.footer-2 {
  flex-direction: column;
}
.footer-2 .icons-rsocials {
  flex-direction: row;
  align-self: center;
}
.footer-2 .footer-copyr {
  align-self: center;
}

/* --------------------- STYLE OF THE REVIEW PAGE ----------------------*/

.reviews {
  grid-template-columns: repeat(auto-fill, minmax(300px, 450px));
}
.stars {
  display: flex;
}
.stars > i {
  color: #d3ad7f;
}

.review-persons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #413f3f;
  padding: 1.5rem;
}
.review-persons .person {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-persons .img-saved {
  width: 50px;
  height: 40px;
}
.review-persons p {
  line-height: 1.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: justify;
}

/* --------------------- STYLE OF THE CONTACT PAGE ----------------------*/

.box-form {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 8rem; */
}
.title-contact {
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.1rem;
}

.contact-wrapper {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  margin: 0;
  font-size: 0.8rem;
  text-align: start;
}

.contact-wrapper > * {
  padding: 2em;
}

.contact-form {
  background-color: #222222;
}

.contact-form form {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
}
.contact-form form .block {
  grid-column: 1/-1;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}
.contact-form form input,
.contact-form form button,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  color: #fff;
  border-bottom: 1px solid #d63031;
  outline: none;
}

.contact-form form button {
  background: #b70e21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: #000;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 0.7s ease-in-out;
  outline: none;
}

.contact-info {
  background-color: #000;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
}

.contact-info ul li {
  padding: 0.3em;
}

/* LARGE SIZE */
@media only screen and (min-width: 700px) {
  /* body {
      padding: 0 1rem;
    } */

  .contact-form form {
    grid-template-columns: 1fr 1fr;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper > * {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    padding: 1em;
    text-align: left;
  }
}

@media screen and (max-width: 1600px) {
  .container-home {
    grid-gap: 0;
  }
  .img-home {
    width: 540px;
    height: 540px;
    top: 5rem;
  }

  .img-logo {
    margin-top: 9px;
  }

  .menu-nav > ul {
    gap: 4rem;
  }
  .menu-nav2 > ul {
    padding-left: 150px;
  }

  .menu-nav a,
  .shop-register > a {
    font-size: 0.9rem;
  }
  .title-description-home {
    padding: 40px 300px 50px 40px;
  }
  .shop-register i {
    font-size: 1rem;
  }
  .name-coffeshop {
    font-size: 7rem;
  }

  .description-home {
    font-size: 0.8rem;
  }
  .footer-copyr {
    font-size: 0.7rem;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1200px) {
  .body-home {
    overflow: visible;
  }
  .container-home {
    grid-template-areas:
      "header       header        header"
      "main         main          main"
      "footer-1     footer-1      footer-1"
      "footer-2     footer-2      footer-2";
    width: 90%;
    height: 96%;
  }

  .icons-rsocials {
    grid-area: footer-2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .img-home {
    width: 430px;
    height: 430px;
    top: 8rem;
  }
  .header {
    grid-area: header;
  }

  .main-home {
    grid-area: main;
  }

  .footer {
    grid-area: footer-1;
  }

  .title-description-home {
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .body-home {
    background: rgba(0, 0, 0, 98%);
  }
  .container-home {
    width: 100%;
    height: 100%;
    /* grid-gap: 1rem; */
  }
  .header a {
    font-size: 0.8rem;
  }
  .menu-nav > ul {
    gap: 3rem;
  }
  .menu-nav2 > ul {
    padding: 0;
  }
  .home-logo {
    height: 100%;
  }

  .img-logo {
    margin-top: 17px;
  }

  .title-description-home {
    padding-top: 20px;
  }

  .name-coffeshop {
    font-size: 5rem;
  }

  .description-home {
    padding: 0 3rem 0 0;
  }

  .img-home {
    top: 5rem;
    right: 0;
    width: 410px;
    height: 410px;
    transform: rotate(-40deg);
  }

  .order-button {
    width: 160px;
    height: 35px;
    font-size: 0.75rem;
  }
  .icons-rsocials a {
    font-size: 1rem;
  }
  .quienes-somos,
  .nuestra-mision {
    display: block;
  }
  .main-aboutUs .img-aboutUs {
    width: 250px;
    height: 250px;
  }

  .main-aboutUs {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 0;
  }

  .about-description {
    margin-bottom: 3rem;
    border: none;
    border-bottom: 2px solid #fece2f;
  }

  .img-phrase > img {
    height: 200px;
    width: 200px;
  }
}
/*  */
@media only screen and (max-width: 600px) {
  .body-home {
    height: 100vh;
    background-image: radial-gradient(
      circle at 79.83% 44.74%,
      #5f491a 0,
      #5b4019 10%,
      #533617 20%,
      #472a14 30%,
      #381e0f 40%,
      #271103 50%,
      #180000 60%,
      #000000 70%,
      #000000 80%,
      #000000 90%,
      #000000 100%
    );
  }
  .container {
    grid-template-areas:
      "header       header        header"
      "main         main          main"
      "footer-1     footer-1      footer-1";

    width: 90%;
    height: 96%;
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .main-home {
    grid-area: main;
  }
  .home-logo {
    width: 40px;
    height: auto;
    align-items: flex-start;
  }

  .img-logo {
    width: 45px;
    margin-top: 12px;
  }

  .img-home-2 {
    display: block;
    position: absolute;
    left: 24%;
    top: 8.5rem;
    animation: animar 4s 1 linear;
  }

  @keyframes animar {
    0% {
      transform: translateY(-280px);
      /* transform: rotate(0deg); */
    }

    50% {
      transform: rotate(0deg);
    }

    80% {
      transform: rotate(360deg);
    }

    100% {
      transform: translateY(0px);
    }
  }
  .shop-register {
    align-items: flex-center;
    height: 75px;
    width: 300px;
    justify-content: flex-start;
    gap: 2rem;
  }

  .shop-register i {
    font-size: 1.15rem;
  }
  .menu-nav ul {
    position: fixed;
    top: 0;
    bottom: 0;
    background: #000;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 10;
    font-size: 0.1rem;
  }

  .nav-img {
    position: relative;
    top: -12px;
  }

  .nav-label {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    z-index: 30;
  }

  .nav-input:checked + ul {
    clip-path: circle(100% at center);
  }

  .menu-nav2 > ul {
    padding-left: 0;
  }

  .menu-nav a {
    font-size: 0.9rem;
  }

  .title-description-home {
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  .name-coffeshop {
    font-size: 2rem;
    height: 70px;
    text-align: center;
    padding-top: 20px;
  }

  .description-home {
    text-align: center;
    padding: 0;
  }
  .img-home {
    display: none;
    width: 170px;
    height: 170px;
    top: 6.4rem;
    right: 8rem;
    margin-left: auto;
    margin-right: auto;
  }
  .order {
    text-align: center;
    font-size: 0.7rem;
    padding: 0;
  }
  .order-button {
    width: 150px;
    height: 35px;
  }
  .footer {
    grid-area: footer-1;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
  }
  .footer-copyr {
    grid-template-columns: 1/3;
    text-align: center;
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
  .icons-rsocials i {
    font-size: 0.9rem;
    transition: 0.5s;
  }
  .icons-rsocials {
    grid-area: footer-1;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: auto;
    gap: 3rem;
    z-index: 2;
  }

  .quienes-somos,
  .nuestra-mision {
    display: block;
  }
  .main-aboutUs .img-aboutUs {
    width: 250px;
    height: 250px;
  }

  .main-aboutUs {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 0;
  }

  .about-description {
    margin-bottom: 3rem;
    border: none;
    border-bottom: 2px solid #fece2f;
  }

  .img-phrase > img {
    height: 200px;
    width: 200px;
  }
}

@media screen and (max-width: 380px) {
  .img-home-2 {
    top: 7rem;
  }
}

@media screen and (max-width: 360px) {
  .img-home-2 {
    top: 6rem;
    width: 180px;
    height: 180px;
  }
  .name-coffeshop {
    font-size: 1.4rem;
  }
  .description-home {
    font-size: 0.7rem;
    padding: 0 15px 0 15px;
  }

  .footer p {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .img-home-2 {
    top: 5rem;
    width: 150px;
    height: 150px;
  }
}
